.content{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-left: 500px;
    margin-right: 500px;
    align-items: center;
}
.menu{
    display: flex;
    gap: 30px;
}
.link{
    text-decoration: none;
    color: black;
}
.vegefoods{
    color: green;
   font-weight: bold;
}